<footer>
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-xs-12">
                    <div class="widget">
                        <div class="footer-logo">
                            <a href="/" class="navbar-brand"><b> Weather Station</b> </a>
                        </div><br><br><br>
                        <div class="textwidget">
                            <p>Weather Station is a site where one can check their location's weather condition. It is a
                                semester project developed by undergraduate students of Kathmandu University.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Quick Links</h3>
                        <ul class="menu">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/getweather">Weather</a></li>
                            <li><a href="/checkweather">Check Weather</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Information</h3>
                        <ul class="menu">
                            <li>
                                <p>Temperature</p>
                            </li>
                            <li>
                                <p>Pressure</p>
                            </li>
                            <li>
                                <p>Humidity</p>
                            </li>
                            <li>
                                <p>Altitude</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>Copyright &copy 2019 <a href="/"> Weather Station</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/plugins/jquery.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>

</html>