<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <header class="hero-area">
        <nav class="navbar navbar-default navbar-expand-md navbar-fixed-top scrolling-navbar">
            <div class="container clearfix">
                <div class="navbar-header d-flex col">
                    <a class="navbar-brand" href="/"><b>Weather Station</b></a>
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                        class="navbar-toggle navbar-toggler ml-auto">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                    <ul class="nav navbar-nav navbar-right mr-auto">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="/about">About</a></li>
                        <li class="nav-item"><a href="/getweather">Check Weather</a></li>
                    </ul>
                </div>
            </div>
        </nav>